
/* spacers, vertical */
.sp-1 {height: var(--space-sm)}
.sp-2 {height: var(--space-md)}
.sp-3 {height: var(--space-lg)}
.sp-4 {height: var(--space-xl)}
.sp-5 {height: var(--space-xxl)}
.sp-6 {height: var(--space-xxxl)}
.sp-7 {height: var(--space-xxxxl)}

/******************
 *	Font: Noto Sans
 *	400 only; add more weights
 */

@font-face{
	font-family: NotoSans;
	src:
		url('https://s3.amazonaws.com/benetta.net/fonts/noto-sans/noto-sans-v21-latin-regular.ttf')
			format('truetype'),
		url('https://s3.amazonaws.com/benetta.net/fonts/noto-sans/noto-sans-v21-latin-regular.woff2')
			format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

/*******************
 *	Font: Noto Serif
 *	400 only; add more weights
 */

@font-face {
	font-family: NotoSerif;
	src:
		url('https://s3.amazonaws.com/benetta.net/fonts/noto-serif/NotoSerif-Regular.ttf')
			format('truetype'),
		url('https://s3.amazonaws.com/benetta.net/fonts/noto-serif/noto-serif-v11-latin-regular.woff2')
			format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: NotoSerif-Italic;
	src:
		url("https://s3.amazonaws.com/benetta.net/fonts/noto-serif/noto-serif-v11-latin-italic.woff2")
			format("woff2");
	font-display: swap;
	font-style: italic;
	font-weight: 400;
}

/****************
 *	Font: Poppins
 *	500 only; add more weights
 */

@font-face {
	font-family: Poppins;
	src:
		url('https://s3.amazonaws.com/benetta.net/fonts/poppins/poppins-v15-latin-500.woff2')
			format('woff2'),
		url('https://s3.amazonaws.com/benetta.net/fonts/poppins/Poppins-Regular.ttf')
			format('truetype');
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}

h2, h3 {
	display: inline-block;
	border: none;
}

p {
	display: inline-block;
	border: none;
}

dt {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

dd {
	text-indent: -1.8em;
	padding-left: 1.8em;
}

section {
	padding-left: 1rem;
}

blockquote {
	border-left: 10px solid var(--on-cccccc);
	margin:  1.5rem 10px;
	padding: 0.5rem 10px;
	quotes: "\201C""\201D";
}

blockquote:before {
	color: var(--on-cccccc);
	content: open-quote;
	font-size: 2rem;
	line-height: 0.1rem;
	margin-right: 0.25rem;
	vertical-align: -0.4rem;
}

.chartlegend span {
  display: inline-block;
  height: 0.65rem;
  width: 0.65rem;
  border-radius: 0.25rem;
}

.mr-s {
  margin-right: 1rem;
}

.c-c0334d {background-color: #c0334d;}
.c-f3d480 {background-color: #f3d480;}
.c-f1931b {background-color: #f1931b;}
.c-8f715b {background-color: #8f715b;}
.c-78d68c {background-color: #78d68c;}
.c-720017 {background-color: #720017;}
.c-d8d583 {background-color: #d8d583;}
.c-d98c2a {background-color: #d98c2a;}
.c-36688d {background-color: #36688d;}
.c-a3586d {background-color: #a3586d;}
.c-aba6bf {background-color: #aba6bf;}
.c-595775 {background-color: #595775;}
.c-84a45a {background-color: #84a45a;}
.c-583e2e {background-color: #583e2e;}
.c-bf988f {background-color: #bf988f;}
.c-a7414a {background-color: #a7414a;}
.c-6a8a82 {background-color: #6a8a82;}
.c-a37c27 {background-color: #a37c27;}
.c-704404 {background-color: #704404;}
.c-d28f1b {background-color: #d28f1b;}
.c-c05640 {background-color: #c05640;}
.c-73c0f4 {background-color: #73c0f4;}
.c-f3e46c {background-color: #f3e46c;}
.c-582a20 {background-color: #582a20;}
.c-9499a6 {background-color: #9499a6;}
.c-a67b04 {background-color: #a67b04;}
.c-525b56 {background-color: #525b56;}
.c-93a806 {background-color: #93a806;}
.c-f08b33 {background-color: #f08b33;}
.c-d75404 {background-color: #d75404;}
.c-8a2c02 {background-color: #8a2c02;}
.c-d75b66 {background-color: #d75b66;}
.c-23345c {background-color: #23345c;}
.c-515b51 {background-color: #515b51;}
.c-8c7547 {background-color: #8c7547;}
.c-efa747 {background-color: #efa747;}
.c-52733b {background-color: #52733b;}
.c-704307 {background-color: #704307;}
.c-f7b178 {background-color: #f7b178;}
.c-253f5b {background-color: #253f5b;}
.c-4f728e {background-color: #4f728e;}


/*********************
 *  sowa grid original
 */

.parent-sowa {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 1px;
}

.g-11 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.g-21 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.g-31 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.g-41 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.g-51 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

.g-15 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
}
.g-25 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}
.g-35 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
}
.g-45 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
}
.g-55 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

.g-15-item {
	width:  60%;
	height: 60%;
}

.g-55-item {
	width:  60%;
	height: 60%;
}

.noto-sans-400-regular{font-family:NotoSans,sans-serif;font-weight:400;font-style:normal;}
.noto-sans-400-italic {font-family:NotoSans,sans-serif;font-weight:400;font-style:italic;}

.noto-serif-400-regular{font-family:NotoSerif,serif;font-weight:400;font-style:normal;}
.noto-serif-400-italic {font-family:NotoSerif,serif;font-weight:400;font-style:italic;}

.poppins-sans-500-regular{font-family:Poppins,sans-serif;font-weight:500;font-style:normal;}
.poppins-sans-500-italic {font-family:Poppins,sans-serif;font-weight:500;font-style:italic;}

.fs-08 {
  font-size: 0.8rem;
}
.fs-10 {
  font-size: 1.0rem;
}
.fs-12 {
  font-size: 1.2rem;
}
.fs-14 {
  font-size: 1.4rem;
}
.fs-16 {
  font-size: 1.6rem;
}
.fs-18 {
  font-size:   1.8rem;
}
.fs-20 {
  font-size: 2.0rem;
}
.fs-22 {
  font-size: 2.2rem;
}
.fs-30 {
  font-size: 3.0rem;
}
.fs-40 {
  font-size: 4.0rem;
}

/* Line Height */
.lh-08 {
	line-height: calc(0.8em + 0.2em);
}
.lh-10 {
	line-height: calc(1.0em + 0.2em);
}
.lh-12 {
	line-height: calc(1.2em + 0.2em);
}
.lh-14 {
	line-height: calc(1.4em + 0.2em);
}

/* for background, dark */
.hc-d {
	color: var(--on-ffffff);
}

/* for background, light */
.hc-l {
	color: var(--on-595775);
}

/* for background, light: shadow-text-back-light - stb-l */
.stb-l {
	text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

/* for background, dark: shadow-text-back-dark - stb-d */
.stb-d {
	text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}

.t-c {
	text-align: center;
}

.top {
	position: relative;
	top: -4%;
	left: 4%;
}

.grid-a {
	display:grid;
	grid-template-columns:repeat(12, [col] 1fr);
	grid-template-rows:repeat(10, [row] auto);
	grid-row-gap: 1.2em;
}

.item-a-11{grid-column:col 1 / span 5; grid-row:row;}
.item-a-12{grid-column:col 7 / span 5; grid-row:row;}
.item-a-21{grid-column:col 1 / span 5; grid-row:row 2;}
.item-a-22{grid-column:col 7 / span 5; grid-row:row 2;}
.item-a-31{grid-column:col 1 / span 5; grid-row:row 3;}
.item-a-32{grid-column:col 7 / span 5; grid-row:row 3;}
.item-a-41{grid-column:col 1 / span 5; grid-row:row 4;}
.item-a-42{grid-column:col 7 / span 5; grid-row:row 4;}
.item-a-51{grid-column:col 1 / span 5; grid-row:row 5;}
.item-a-52{grid-column:col 7 / span 5; grid-row:row 5;}

